@font-face {
    font-family: Pixelmania;
    src: url('../../assets/fonts/Pixelmania.ttf');
    font-weight: normal;
}

@function addOpacity($base, $alphaPercent) {
    @return rgba($base, $alphaPercent)
}

$color-pallette-light-blue: #44E5E7;
$color-pallette-dark-blue: #1C364A;
$color-pallette-orange: #F26419;
$color-pallette-white: #FFFFFF;
$color-pallette-black: #000000;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
}

.spl-header {
    background-color: $color-pallette-orange !important;
    color: $color-pallette-dark-blue !important;
}