@font-face {
    font-family: Pixelmania;
    src: url('../../assets/fonts/Pixelmania.ttf');
    font-weight: normal;
}

$color-pallette-light-blue: #44E5E7;
$color-pallette-dark-blue: #1C364A;
$color-pallette-orange: #F26419;
$color-pallette-white: #FFFFFF;
$color-pallette-black: #000000;