@import './globals';

body.light {
    .bots-content {
        background-color: $color-pallette-white;
        color: black;
        
        .divider {
            background-color: black !important;
        }

        a {
            color: unset;
        }
    }

    .third-party {
        color: black;
        background-color: $color-pallette-light-gray;
    }
}

.bots-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    background-color: $color-pallette-dark-background;
    color: white;
    width: 100%;

    a {
        color: $color-pallette-dark-mode-links;

        &:visited {
            color: $color-pallette-dark-mode-links-visited;
        }
    }


    .text-flair {
        height: 50px;
        margin-top: 10px;

        .top {
            background-color: $color-pallette-orange;
            height: 50%;
            position: relative;
            z-index: 999;
        }

        .bottom {
            background-color: $color-pallette-dark-blue;
            width: 95%;
            height: 50%;
            margin-top: -10px;
            position: relative;
            z-index: 998;
        }
    }

    .heading {
        font-family: 'Best Choice Demo', 'Roboto';
        font-size: inherit;

        h1 {
            font-size: 30px;
        }
    }

    .joebot-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        .bot-item-content .bot-avatar {
            padding: unset !important;
        }
    }

    .joebot-info {
        display: flex;
        flex-direction: column;

        .image-example {
            display: flex;
            justify-content: center;

            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }

        div.MuiGrid-root[class*="-info"] {
            padding: 10px 0;

            .MuiGrid-root.MuiGrid-grid-lg-true {
                align-self: center;
            }

            .create-terms {
                display: flex;
                justify-content: center;
                font-size: 10px;
                padding: 5px;
            }
        }
    }

    .third-party {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-pallette-dark-2;
        margin: 20px 0;

        // .bot-list {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        // }
    }

    .bot-item {
        margin: 5px 10px;
        
        .bot-item-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
    
            .bot-avatar {
                padding: 0 10px;
                margin: 0 10px;
            }
    
            .bot-info {
                display: flex;
                flex-direction: column;
    
                .bot-name {
                    font-size: 20px;
                    font-weight: 700;
                }
    
                .bot-site {
                    font-size: 11px;
                }
            }
        }
    }

}