@import './globals';

.commands-content {
    height: 100%;
    width: 100%;
    padding: 20px;

    .command-item {
        padding: 10px 0;

        hr {
            width: 98%;
            opacity: .25;
        }

        .command-details {
            display: flex;
            flex-direction: column;

            .parameters-border {
                height: 2px;
                width: 100%;
                background-color: $discord-dark-blue;
            }

            .params-list {
                display: flex;
                flex-direction: column;
    
                .param {
                    display: flex;
                    flex-direction: column;
    
                    hr {
                        width: 25%;
                        margin-left: -5px;
                        border-top: 2px dotted $color-pallette-dark-blue;
                    }
                }
            }
        }

    }
}