@import './globals';

body.light {
    .commands-content {
        .command-item {
            background-color: inherit !important;
            color: black !important;
        }
    }

    .giphy-grid {
        .search {
            color: black !important;

            .PrivateNotchedOutline-root-8.MuiOutlinedInput-notchedOutline {
                border-color: $color-pallette-black !important;
            }
        }
    }
}

.commands-content {
    height: 100%;
    width: 100%;
    padding: 20px;

    .command-item {
        padding: 10px 0;
        margin: 20px 0 !important;
        background-color: $color-pallette-dark-2;
        color: white;

        hr {
            width: 98%;
            opacity: .25;
        }

        .command-details {
            display: flex;
            flex-direction: column;

            .parameters-border {
                height: 2px;
                width: 100%;
                background-color: $discord-dark-blue;
            }

            .params-list {
                display: flex;
                flex-direction: column;
    
                .param {
                    display: flex;
                    flex-direction: column;
    
                    hr {
                        width: 25%;
                        margin-left: -5px;
                        border-top: 2px dotted $color-pallette-dark-blue;
                    }
                }
            }
        }

    }
}

.giphy-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .search-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .search {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px;
            color: white;

            .giphy-creation-text {
                margin: 10px;
                color: inherit;

                input {
                    color: inherit;
                }

                .textfield-end-adornment {
                    button {
                        color: inherit;
                    }
                }
            }
            
            .instructions {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }

            .PrivateNotchedOutline-root-8.MuiOutlinedInput-notchedOutline {
                border-color: $color-pallette-white;
            }
        }

    }


}