@import './_globals';

.home-content {
    height: 100%;
}

.header {
    font-family: 'Pixelmania';
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        display: inline;
        font-size: 20px;
    }

    img#home_bg {
        min-width: 448px;
        min-height: 243px;
        width: 100%;
    }
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        display: flex;
        justify-content: center;
    }

    .promise {
        font-size: 18px;
        font-weight: 800;
    }
}

.invite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    align-self: center;
}