@import './globals';

$max-movie-height: 1000px;

.movie-content {
    height: auto;
    overflow: hidden;
}

.movie-results {

    #results-table {

        .overall-ratio {

            .ratio-inner {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}

.poster-cell {
    width: auto;
    column-span: 2;

    img {
        max-width: 50px;
        max-height: 75px;
    }
}

.title-cell {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.table-search {
    display: flex;
    justify-content: center;
}

.movie-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;

    .hsljs-video-tag {
        width: inherit;
        height: inherit;
    }
}