@import '../../sass/_globals.scss';

body.light {
    .main-header {
        .logo {
            background: 4px $color-pallette-white;
        }
    }

    .info {
        color: black;
        @include background-opacity($color-pallette-light-gray, 0.18);

        .showcase {
            color: inherit;
        }
        
        .showcase-card {
            @include background-opacity($color-pallette-light-gray, 0.05);
        }
    }

    .footer-spacing {
        display: none;
    }
}

.home-content {
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
        padding-top: 10px;
        margin-bottom: -75px;
        position: relative;
        z-index: 999;

        @media screen and (max-width: 500px) {
            display: none;
        }
    
        .logo {
            min-width: 75px;
            min-height: 75px;
            max-width: 150px;
            max-height: 150px;
            background: 4px $color-pallette-dark-background;
    
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                max-width: 90%;
                max-height: 90%;
            }
        }
    
        .heading {
            display: flex;
            justify-content: flex-start;
            max-height: 75px;
            line-height: 10px;
            font-family: 'Pixelmania';
            padding: 0 15px;
    
            /* If the screen size is 951px wide or more, ... */
            @media screen and (min-width: 951px) {
                font-size: 18px;
            }
    
            /* If the screen size is 950px >= x =< 751px, ... */
            @media screen and (max-width: 950px) and (min-width: 751px) {
                font-size: 12px;
            }
    
            /* If the screen size is 750px >= x =< 671px, ... */
            @media screen and (max-width: 750px) and (min-width: 671px) {
                font-size: 10px;
            }
    
            /* If the screen size is 670px >= x =< 579px, ... */
            @media screen and (max-width: 670px) and (min-width: 579px) {
                font-size: 8px;
            }
    
            /* If the screen size is 578px >= x =< 495px, ... */
            @media screen and (max-width: 578px) and (min-width: 499px) {
                font-size: 6px;
            }
    
            /* If the screen size is 494px >= x <=  or less, ... */
            // @media screen and (max-width: 494px) and (min-width: 410px) {
            //     font-size: 4px;
            // }
        }
    }
}

.MuiContainer-root.about.banner {
    padding: unset !important;
    margin: unset !important;
}


.about {
    display: flex;
    flex-direction: column;
    
    &.banner {

        width: 100%;
        height: auto;
        overflow: hidden;
        background: url('/img/home_bg2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .banner-items {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 50px 0;
            flex-wrap: wrap;

            .logo-join {
                display: flex;
                flex-direction: column;
                
                img {
                    position: relative;
                }

                .btn.join {
                    position: absolute;
                    top: 625px;
                }
            }

            .btn {
                display: flex;
                border: 1px solid black;
                border-radius: 5px;
                background: rgba(28, 54, 74, 0.45);
                width: 305px;
                height: auto;
                align-items: center;
                cursor: pointer;

                .btn-content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    color: white;
                }

                span {
                    &.action {
                        text-transform: uppercase;
                    }
                }
            }

            img {
                max-height: 300px;
            }

            .invite {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                width: 400px;
    
                .widget-container {
                    width: 350px;
                    height: 500px;
                    position: relative;
                    padding-top: 50px;
    
                    iframe {
                        position: relative;
                        top: -525px;
                        left: 0;
                    }
    
                    .flair {
                        max-width: inherit;
                        height: inherit;
                        position: relative;

                        @media screen and (max-width: 400px) {
                            display: none;
                        }
    
                        .top {
                            height: 100%;
                            width: 100%;
                            background-color: $color-pallette-dark-blue;
                            position: relative;
                            top: -50px;
                            left: -25px;
                        }
        
                        .bottom {
                            height: 100%;
                            width: 100%;
                            background-color: $color-pallette-orange;
                            position: relative;
                            top: -500px;
                            left: 25px;
                        }
                    }
    
                    .widget {
                        width: inherit;
                        height: inherit;
                        position: absolute;
                        z-index: 999;
                        margin-top: -25px;
                    }
                }
    
                .singin {
                    padding-top: 20px;
                }
            }
        }
    }
}

.info {
    width: 100%;
    background-color: $color-pallette-dark-2;

    .info-content {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 25px 0;
        
        .about-us {
            width: 75%;
            align-self: flex-start;
    
            .top {
                width: 95%;
                height: 20px;
                background-color: $color-pallette-orange;
                margin-bottom: -5px;
                position: relative;
                z-index: 1;
            }
    
            .bottom {
                width: 90%;
                height: 25px;
                background-color: $color-pallette-dark-blue;
                position: relative;
                z-index: 0;
            }
        }
    
        text {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                display: flex;
                justify-content: center;
            }
            
            span {
                font-weight: 700;
                font-size: 20px;
            }
        }
    }

}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    .showcase-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px;

        h3 {
            margin: 0;
        }
    }

    .cards {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .showcase-card {
            color: inherit;
            margin: 10px;
            @include background-opacity($color-pallette-dark-background-2, 0.5);

            button {
                display: flex;
                align-items: flex-start;
                height:100%;
            }

            .card-subtext {
                font-size: calc(font-size - 10px);
            }
        }
    }
}

.footer-spacing {
    height: 25px;
    background-color: $color-pallette-dark-2;
}