@import '../../sass/_globals.scss';

body.light {
    .member-main {
        background: $color-pallette-white;
        color: black;
    }
}

.member-main {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    overflow: scroll;
    height: calc(100% - ((#{$header-height} * 1px) + (#{$copyright-height} * 1px)));

    .description-cell {
        img {
            max-width: 35px;
            max-height: 35px;
            padding: 0 10px;
        }
    }
}